/*------------------------------------------------------------------*/ 
/*	3) Note: Design for a width of 320 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 200px) and (max-width: 479px){

/*------------------------------------------------------------------*/ 
/*	Slider
/*------------------------------------------------------------------*/
.main-slider {
	width:300px;
	margin:0;
}
.slider2{
	display:block;
}
/*------------------------------------------------------------------*/ 
/*	3) Content
/*------------------------------------------------------------------*/
.main-content{
	width:100%;
}
}