/*------------------------------------------------------------------*/ 
/*	2) Note: Design for a width of 480 px
/*------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*------------------------------------------------------------------*/ 
/*	 Slider
/*------------------------------------------------------------------*/
.main-slider {
	width:400px;
}
.slider2{
	display:block;
}
/*------------------------------------------------------------------*/ 
/*	Content
/*------------------------------------------------------------------*/
.main-content{
	width:100%;
}
/*------------------------------------------------------------------*/ 
/*	3) Comments
/*------------------------------------------------------------------*/
}